# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment folders
env/
venv/

# macOS system files
.DS_Store

# VSCode settings (optional)
.vscode/

# pip log
pip-log.txt
